@media only screen and (min-width: 768px) {
    .login{
        width: 300px;
        height: 550px;
    }
    
  }
@media only screen and (min-width: 1200px) {
    .login{
        width: 500px;
        height: 550px;
    }
    
  }