#feature{
    background-color: rgba(33, 3, 117, 0.034);
}

.newsletter input{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    
}

.banner{
    background-image: url(https://i.ibb.co/mHFvvD6/banner-bike.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: full;
    height: 768px;
}

/* .banner-title{
    position: relative;
    top: 80px;
    right: 230px;
    font-size: 50px;
    color: white;
    
} */

/* .banner-second-title{
    position: relative;
    top: 90px;
    right: 360px;
    
    
} */